In [1]:
import pandas as pd
# Load dataset
df = pd.read_csv('bank_transactions.csv')
df.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [2]:
print("Original DataFrame Shape:", df.shape)
print(df.head())  # Show the first few rows

Original DataFrame Shape: (1048567, 9)
  TransactionID CustomerID CustomerDOB CustGender CustLocation  \
0            T1   C5841053     10/1/94          F   JAMSHEDPUR
1            T2   C2142763      4/4/57          M      JHAJJAR
2            T3   C4417068    26/11/96          F       MUMBAI
3            T4   C5342380     14/9/73          F       MUMBAI
4            T5   C9031234     24/3/88          F  NAVI MUMBAI

   CustAccountBalance TransactionDate  TransactionTime  \
0            17819.05          2/8/16           143207
1             2270.69          2/8/16           141858
2            17874.44          2/8/16           142712
3           866503.21          2/8/16           142714
4             6714.43          2/8/16           181156

   TransactionAmount (INR)
0                     25.0
1                  27999.0
2                    459.0
3                   2060.0
4                   1762.5

In [3]:
# Check for missing values
print(df.isnull().sum())

TransactionID                 0
CustomerID                    0
CustomerDOB                3397
CustGender                 1100
CustLocation                151
CustAccountBalance         2369
TransactionDate               0
TransactionTime               0
TransactionAmount (INR)       0
dtype: int64

In [4]:
# Drop rows where critical transaction columns are missing
df_cleaned = df.dropna(subset=['TransactionID', 'CustomerID', 'TransactionAmount (INR)'])

# Convert CustomerDOB to datetime format
df_cleaned['CustomerDOB'] = pd.to_datetime(df_cleaned['CustomerDOB'], errors='coerce')

# Drop rows where CustomerDOB is NaT (invalid/missing dates)
df_cleaned = df_cleaned[df_cleaned['CustomerDOB'].notna()]

# Drop rows where CustGender, CustLocation, or CustAccountBalance are missing
df_cleaned = df_cleaned[df_cleaned[['CustGender', 'CustLocation', 'CustAccountBalance']].notna().all(axis=1)]

# Print final shape
print("Final Cleaned Shape:", df_cleaned.shape)

# Display sample data
print(df_cleaned.head())

/var/folders/sy/yh56pzc53gq3dbx96tf_j5vr0000gn/T/ipykernel_17844/2419726795.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_cleaned['CustomerDOB'] = pd.to_datetime(df_cleaned['CustomerDOB'], errors='coerce')

Final Cleaned Shape: (1041614, 9)
  TransactionID CustomerID CustomerDOB CustGender CustLocation  \
0            T1   C5841053  1994-10-01          F   JAMSHEDPUR
1            T2   C2142763  2057-04-04          M      JHAJJAR
2            T3   C4417068  1996-11-26          F       MUMBAI
3            T4   C5342380  2073-09-14          F       MUMBAI
4            T5   C9031234  1988-03-24          F  NAVI MUMBAI

   CustAccountBalance TransactionDate  TransactionTime  \
0            17819.05          2/8/16           143207
1             2270.69          2/8/16           141858
2            17874.44          2/8/16           142712
3           866503.21          2/8/16           142714
4             6714.43          2/8/16           181156

   TransactionAmount (INR)
0                     25.0
1                  27999.0
2                    459.0
3                   2060.0
4                   1762.5

In [5]:
# Check for invalid transaction amounts
invalid_transactions = df_cleaned[df_cleaned['TransactionAmount (INR)'] <= 0]
print("Invalid transactions count:", len(invalid_transactions))

Invalid transactions count: 820

In [6]:
# Remove invalid transactions
df_cleaned = df_cleaned[df_cleaned['TransactionAmount (INR)'] > 0]

In [7]:
from datetime import datetime
import pandas as pd

# Ensure a copy to avoid SettingWithCopyWarning
df_cleaned = df_cleaned.copy()

# Convert CustomerDOB to datetime safely
df_cleaned['CustomerDOB'] = pd.to_datetime(df_cleaned['CustomerDOB'], errors='coerce')

# Drop rows with missing DOB
df_cleaned = df_cleaned.dropna(subset=['CustomerDOB'])

# Calculate Age more robustly
current_date = datetime.now()
df_cleaned['age'] = (current_date - df_cleaned['CustomerDOB']).dt.days // 365  # Convert days to years

# Filter only valid age range (18-100)
df_cleaned = df_cleaned[(df_cleaned['age'] >= 18) & (df_cleaned['age'] <= 100)]

# Print final dataset shape
print("Final Cleaned Shape:", df_cleaned.shape)

# Show the first few rows
print(df_cleaned[['CustomerDOB', 'age']].head())

Final Cleaned Shape: (879715, 10)
  CustomerDOB  age
0  1994-10-01   30
2  1996-11-26   28
4  1988-03-24   37
6  1992-01-26   33
7  1982-01-27   43

In [8]:
# Count transactions per location
top_locations = df_cleaned['CustLocation'].value_counts().head(5)

# Display results
print("Top 5 locations with maximum transactions:")
print(top_locations)

Top 5 locations with maximum transactions:
CustLocation
MUMBAI       86277
BANGALORE    70699
NEW DELHI    66172
GURGAON      62746
DELHI        60490
Name: count, dtype: int64

In [20]:
import pandas as pd

# Load Excel file WITHOUT date parsing
df = pd.read_csv("bank_transactions.csv")

# Step 1: Convert TransactionDate manually, try all formats
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'], errors='coerce', dayfirst=True)

# Step 2: Check how many dates were parsed successfully
valid_dates = df['TransactionDate'].notna().sum()
print(f"✅ Valid parsed dates: {valid_dates} out of {len(df)}")

# Step 3: Drop rows with bad/missing dates
df = df.dropna(subset=['TransactionDate'])

# Step 4: Set the reference date
reference_date = df['TransactionDate'].max()

# Step 5: Compute RFM metrics
rfm_df = df.groupby('CustomerID').agg({
    'TransactionDate': lambda x: (reference_date - x.max()).days,  # Recency
    'TransactionID': 'count',  # Frequency
    'TransactionAmount (INR)': 'sum'  # Monetary
}).reset_index()

# Step 6: Rename columns
rfm_df.columns = ['CustomerID', 'Recency', 'Frequency', 'Monetary']

# Step 7: Show the result
print("✅ RFM Data:")
print(rfm_df.head())

/var/folders/sy/yh56pzc53gq3dbx96tf_j5vr0000gn/T/ipykernel_17844/3861125897.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['TransactionDate'] = pd.to_datetime(df['TransactionDate'], errors='coerce', dayfirst=True)

✅ Valid parsed dates: 1048567 out of 1048567
✅ RFM Data:
  CustomerID  Recency  Frequency  Monetary
0   C1010011       25          2    5106.0
1   C1010012       68          1    1499.0
2   C1010014       75          2    1455.0
3   C1010018       36          1      30.0
4   C1010024       64          1    5000.0